@model IEnumerable<Group_5_Hospital_Project.Models.Volunteer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Volunteer_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volunteer_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volunteer_start_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volunteer_maximum_headcount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volunteer_applied_headcount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer_start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer_maximum_headcount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer_applied_headcount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Volunteer_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Volunteer_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Volunteer_ID })
        </td>
    </tr>
}

</table>
