@using Group_5_Hospital_Project.Models
@model PagedList.IPagedList<Group_5_Hospital_Project.Models.Volunteer>

@{
    ViewBag.Title = "Volunteers";
}

@using PagedList.Mvc;
@using PagedList;

    <h2>Volunteers</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-dark"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(list => Model.First().Volunteer_name)
        </th>
        <th>
            @Html.DisplayNameFor(list => Model.First().Volunteer_start_time)
        </th>
        <th>
            @*@Html.DisplayNameFor(list => Model.First().Volunteer_maximum_headcount)*@
            People Needed
        </th>
        <th>
            @*@Html.DisplayNameFor(list => Model.First().Volunteer_applied_headcount)*@
            People Applied
        </th>
        <th>Operations</th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td>No Match found.</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Volunteer_name)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Volunteer_description)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Volunteer_start_time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volunteer_maximum_headcount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volunteer_applied_headcount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Volunteer_ID }, new { @class = "btn btn-dark"}) |
                    @Html.ActionLink("Details", "Details", new { id = item.Volunteer_ID }, new { @class = "btn btn-dark"}) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Volunteer_ID }, new { @class = "btn btn-dark"}) |
                    @Html.ActionLink("Apply", "Apply", new { id = item.Volunteer_ID }, new { @class = "btn btn-dark"})
                </td>
            </tr>
        }
    }

</table>

@*@Html.PagedListPager(Model, i => Url.Action("List", "Volunteer", new { i }))*@
