@using Group_5_Hospital_Project.Models
@model IPagedList<Group_5_Hospital_Project.Models.Newsletter>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;


<h2>Newsletter</h2>

<p>
    @if (User.Identity.Permission() == 3 || User.Identity.Permission() == 2)
    {
        @Html.ActionLink("Create New", "New")
    }


    @using (Html.BeginForm("List", "Newsletter", FormMethod.Get))
    {
        @Html.TextBox("search", null, new { @class = "form-control mr-sm-2 d-inline search-field", @placeholder = "Press enter to Search!" })
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(list => Model.First().newsletter_title)
            </th>
            <th>
                @Html.DisplayNameFor(list => Model.First().newsletter_body)
            </th>
        </tr>
    </thead>

    @if (Model.Count() == 0)
    {
        <tr>
            <td>No Match found.</td>
        </tr>
    }
    else
    {
        foreach (var newsletter in @Model)
        {
            <tr>
                <td>
                    <a href="Show/@newsletter.newsletter_id" style="text-decoration: none; font-weight: bold;">@newsletter.newsletter_title</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => newsletter.newsletter_body)
                </td>
                @if (User.Identity.Permission() == 3 || User.Identity.Permission() == 2)
                {
                    <td>
                    @Html.ActionLink("Edit", "Edit", new { id = newsletter.newsletter_id }) |
                    @Html.ActionLink("Details", "Show", new { id = newsletter.newsletter_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = newsletter.newsletter_id }) |
                    @Html.ActionLink("Send Email", "SendEmail", new { id = newsletter.newsletter_id })
                    </td>
                }
                
            </tr>
        }
    }

</table>

@Html.PagedListPager(Model, i => Url.Action("List", "Newsletter", new { i, search = Request.QueryString["search"] }))
