@model Group_5_Hospital_Project.Models.Alert

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show</h2>

<div>
    <h4>Alert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.alert_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alert_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alert_body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alert_body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.alert_id }) |
    @Html.ActionLink("Back to List", "List")
</p>
