@model Group_5_Hospital_Project.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Appointment_start_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appointment_start_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Appointment_end_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appointment_end_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Appointment_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
