@using Group_5_Hospital_Project.Models
@model List<Group_5_Hospital_Project.Models.Subscriber>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>
<table class="table">
    <tr>
        <th>
            Subscriber Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subscriber_email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.subscriber_id }) |
            @Html.ActionLink("Details", "Show", new { id=item.subscriber_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.subscriber_id })
        </td>
    </tr>
}

</table>
