@model Group_5_Hospital_Project.Models.Page

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show</h2>

<div>
    <dl class="dl-horizontal">
        <dd>
            <h1>@Html.DisplayFor(model => model.content_title)</h1>
        </dd>

        <dd>
            <span style="white-space: pre-line">
                
                @Html.DisplayFor(model => model.content_body)
            </span>
            
        </dd>

        <dd>
            <div class="small" style="color:grey;">
                <span>Posted on </span>@Html.DisplayFor(model => model.DateTime)
            </div>
            
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.Permission() == 3 || User.Identity.Permission() == 2)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) <p> | </p>
        @Html.ActionLink("Back to List", "List")
    }



</p>
