@model Group_5_Hospital_Project.Models.Feedback_Forms

@{
    ViewBag.Title = "Edit";
}

<h2>Edit your Feedback</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Feedback_Forms_ID)

    <div class="form-group">
        <label for="Feedback_Forms_Rating">Rating</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Feedback_Forms_Rating, new { htmlAttributes = new { @class = "form-control", max = '5', min = '0' } })
            @Html.ValidationMessageFor(model => model.Feedback_Forms_Rating, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="Feedback_Forms_Comment">Comment</label>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Feedback_Forms_Comment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Feedback_Forms_Comment, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <label for="Feedback_Forms_Date">Date</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Feedback_Forms_Date, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })
            @Html.ValidationMessageFor(model => model.Feedback_Forms_Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save Changes" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "List", "", new {@class="btn btn-primary" })
</div>
